* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    background-color: $white;
    font-family: 'Roboto Condensed', sans-serif;
}

.page {
    
    &-container {
        max-width: 1280px;
        margin: 0 auto;
    }
    
    &-header {
        background-color: $bg-color;
        color: $secundary-color;
        width: 100%;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        z-index: 9999;
    }
    
    &-logo {
        display: block;
        text-align: center;
        text-decoration: none;
        
        &-title {
            padding: 10px 10px; 
            line-height: 34px;
            text-transform: uppercase;
            text-align: center;
            font-size: 1em;
            font-weight: normal;
            color: $secundary-color;
            letter-spacing: 5px;
        }
    }
    
    &-nav {
        
        &-list {
            background-color: $secundary-color;
            display: flex;
            justify-content: space-around;
            position: relative;
            
            li.list-item {
                list-style: none;
                text-align: center;
                width: 50%;
                
                [class^='icon'] {
                    margin-left: 10px;
                }
                
                a {
                    line-height: 40px;
                    color: $bg-color;
                    text-decoration: none;
                    display: block;
                    font-size: 0.9em;
                    
                    &:hover {
                        background-color: $primary-hover-color;
                        color:  $secundary-color !important;
                    }
                }
                
                ul.dropdown-list {
                    display: none;
                    transition: all .4s;
                    z-index: 9999;
                    position: absolute;
                    width: 50%;
                    background-color: $secundary-color;
                    
                    .list-item {
                        width: 100%;
                    }
                }
                
            }
        }
    }
}

.image-container {
    max-width: 100%;
    text-align: center;
    
    .image {
        display: none;
        transition: all .4s;
        max-width: 100%;
        max-height: calc(100vh - 100px);
        z-index: 9998;
        margin: 0 auto;
    }
}

.active {
    background: $primary-color;
    color: $secundary-color !important;
    
    &:hover {
        color: $bg-color !important;
    }
}

.error-msg {
    margin-top: calc(50vh - 100px);
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

